@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  #hero {
    min-height: 108vh;

    .hero--general {
      &__laptop {
        width: 680px;
        height: 530px;
        margin-left: -50px;
      }
    }
  }
}

@media (max-width: 1140px) {
  #hero {
    min-height: 108vh;
    width: 104%;
    .hero--general {
      &__text {
        margin-bottom: 10%;
        padding-left: 20px;

        h1 {
          margin-bottom: 40px;
        }
      }

      &__laptop {
        width: 640px;
        height: 500px;
        padding-right: 20px;
      }
    }
  }

}

@media (max-width: 1024px) {
  #hero {
    min-height: 131vh;

    .hero--general {
      &__text {
        h1 {
          width: 416px;
          font-size: 40px;
          margin-bottom: 20px;
        }

        p {
          font-size: 17px;
        }

      }

      &__laptop {
        width: 600px;
        height: 480px;
        margin-right: 118px;
      }
    }
  }
}

@media (max-width: 992px) {
  #hero {
    .hero--general {
      &__laptop {
        margin-right: 145px;
      }
    }
  }
}

@media (max-width: 768px) {

  #hero .hero--general__text h1 {
    text-align: center;
    margin-left: 22px;
  }
  #hero .hero--general {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  #hero .hero--general__laptop {
    margin-right: -47px;
  }
  #hero .hero--general__text {
    margin-bottom: 0%;
    padding-left: 20px;
  }
  #hero .hero--general__laptop {
    margin-right: -105px;
  }
  #hero .hero--general__text p {
    font-size: 17px;
    margin-left: 60px;

  }
}

@media (max-width: 580px) {
  #hero {
    min-width: 800px;
    width: 1990px;

  }

}

@media (max-width: 452px) {
  #hero {
    .hero--general {

        flex-direction: column;
        width: 100%;
      &__text {
        padding-left: 299px;
        margin-top: 80px;
        h1 {
          font-size: 30px;
          line-height: 35px;
          margin-left: -147px;
          margin-bottom: -20px;
        }

        p {
          font-size: 15px;
          width: 60%;
          text-align: center;
          margin-left: -67px;
          line-height: 20px;

          br {
            display: none;
          }
        }
      }

      &__laptop {
        width: 409px;
        height: 309px;
        margin-left: -79px;
      }
    }
  }

}

@media (max-width: 425px) {
  #hero {
    .hero--general {
      &__laptop {
        margin-left: -405px;
      }
    }
  }
}

@media (max-width: 380px) {
  #hero {
    .hero--general {
      &__laptop {
        margin-left: -405px;
      }
    }
  }
}

@media (max-width: 371px) {
  #hero {
    .hero--general {
      &__text {
        margin-left: -42%;
      }

      &__laptop {
        width: 33%;
      }
    }
  }
}

@media (max-width: 320px) {
  #hero .hero--general__text h1 {
    margin-left: 150px;

  }
  #hero .hero--general__text p {
    margin-left: 131px;
  }
  #hero .hero--general__laptop {
    width: 60%;
  }
  #hero .hero--general__laptop {
    margin-left: -184px;
  }
}