@media (max-width: 1200px) {
  .container{
    width: 90%;
  }
}

@media (max-width: 1140px) {
  #submit {
    .submit--general {
      justify-content: space-around;
    }
  }
}

@media (max-width: 1024px) {
  #submit .submit--general {
    margin-left: 49px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  #submit {
    .submit--general {
      margin-right: 50px;
      &__inputs {
        margin-left: -50px;
        input {
          width: 500px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #submit {
    .submit--general {
      flex-direction: column;
      margin-left: 40px;
      &__title {
        h1 {
          margin-left: 160px;
        }
        p {
          br {
            display: none;
          }
        }
      }
      &__inputs {
        margin-left: 80px;
        padding-top: 50px;
        button {
          margin-left: 90px;
        }
      }
    }
  }
}

@media (max-width: 580px) {
  #submit {
    .submit--general {
      flex-direction: column;
      margin-left: 40px;
      &__title {
        h1 {
          margin-left: -1px;
          font-size: 34px;

        }
        p {
          width: 37%;
          text-align: center;
          margin-left: 58px;
          br {
            display: none;
          }
        }
      }
      &__inputs {
        margin-left: -5px;
        padding-top: 10px;
        button {
          margin-left: 90px;
        }
      }
    }
  }
  #submit .submit--general__title p {
    width: 57%;
  }

}

@media (max-width: 452px) {
  #submit {
    .submit--general {
      margin-left: 40%;
      &__title {
        h1 {
          margin-left: 20px;
        }
        p {
          margin-left: -15px;
          width: 127%;
          br {
            display: none;
          }
        }
      }
      &__inputs {
        margin-left: -30px;
        input {
          width: 140%;
        }
        button {
          margin-left: 75px;
        }
      }
    }
  }

}

@media (max-width: 425px ) {
  #submit {
    .submit--general {
      &__title {
        h1 {
          margin-left: 10px;
        }
        p {
          margin-left: -20px;

          br {
            display: none;
          }
        }
      }
      &__inputs {
        margin-left: -30px;
        input {
          width: 37%;
        }
        button {
          margin-left: 65px;
        }
      }
    }
  }

}

@media (max-width: 380px ) {
  #submit {
    .submit--general {
      &__title {
        h1 {
          margin-left: 10px;
        }
        p {
          margin-left: -20px;

          br {
            display: none;
          }
        }
      }
      &__inputs {
        margin-left: -30px;
        input {
          width: 137%;
        }
        button {
          margin-left: 65px;
        }
      }
    }
  }
}

@media (max-width: 371px ) {
  #submit {
    .submit--general {
      &__inputs {
        input {
          width: 32%;
        }
        button {
          margin-left: 35px;
        }
      }
    }
  }
}

@media (max-width: 320px ) {
  #submit .submit--general__title h1 {
    margin-left: 214px;
  }
  #submit .submit--general__inputs input {
    width: 142%;
  }
}