
@media (max-width: 1201px) {
  #team .team--general__circle {
    position: absolute;
    width: 40%;
    height: 541px;
    left: 737px;
    top: 739px;
    background: radial-gradient(49.91% 49.91% at 41.3% 40.46%, #034078 0%, #019EFF 100%);
    filter: blur(561.75px);
    z-index: 1;
  }
  #team .team--general__blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -33px;
  }
}

@media (max-width: 1024px) {
  #team {
    .container {
      width: 90%;

      .team--general {
        &__item {
          h2 {
            text-align: center;
          }
        }

        &__blocks {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;


          &--title {
            width: 370px;
            height: 283.5px;
            margin: 30px 30px;

            &__enter {
              h5 {

              }

              p {

              }
            }
          }
        }

        &__btn {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  #team {
    .container {
      width: 90%;

      .team--general {
        &__item {
          h2 {
            text-align: center;
          }
        }

        &__blocks {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;


          &--title {
            width: 370px;
            height: 283.5px;
            margin: 30px 30px;

            &__enter {
              h5 {

              }

              p {

              }
            }
          }
        }

        &__btn {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  #team {
    .container {
      width: 90%;

      .team--general {
        &__item {
          h2 {
            text-align: center;
          }
        }

        &__blocks {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;


          &--title {
            width: 370px;
            height: 283.5px;
            margin: 30px 30px;

            &__enter {
              h5 {

              }

              p {

              }
            }
          }
        }

        &__btn {
          button {

          }
        }
      }
    }
  }
  #team .team--general__circle {
    left: 417px;
  }
}

@media (max-width: 580px) {
  #team {
    .container {
      width: 90%;

      .team--general {
        &__item {
          h2 {
            text-align: center;
          }
        }

        &__blocks {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;


          &--title {
            width: 370px;
            height: 283.5px;
            margin: 30px 30px;

            &__enter {
              h5 {

              }

              p {

              }
            }
          }
        }

        &__btn {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 451px) {
  #team {
    .container {
      width: 90%;

      .team--general {
        &__item {
          h2 {
            text-align: center;
          }
        }

        &__blocks {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;


          &--title {
            width: 370px;
            height: 283.5px;
            margin: 30px 30px;

            &__enter {
              h5 {

              }

              p {

              }
            }
          }
        }

        &__btn {
          button {

          }
        }
      }
    }
  }
  #team .team--general__circle {
    left: 325px;
  }
}

@media (max-width: 401px) {
  #team {
    .container {
      width: 90%;

      .team--general {
        &__item {
          h2 {
            text-align: center;
          }
        }

        &__blocks {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;


          &--title {
            width: 370px;
            height: 325px;
            margin: 30px 30px;

            &__enter {
              h5 {

              }

              p {

              }
            }
          }
        }

        &__btn {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 376px) {
  #team {
    .container {
      width: 90%;

      .team--general {
        &__item {
          h2 {
            text-align: center;
          }
        }

        &__blocks {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;


          &--title {
            width: 370px;
            height: 342px;
            margin: 30px 30px;

            &__enter {
              h5 {

              }

              p {

              }
            }
          }
        }

        &__btn {
          button {

          }
        }
      }
    }
  }
}

@media (max-width: 321px) {
  #team {
    .container {
      width: 90%;

      .team--general {
        &__item {
          h2 {
            text-align: center;
          }
        }

        &__blocks {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;


          &--title {
            width: 370px;
            height: 365px;
            margin: 30px 30px;

            &__enter {
              h5 {

              }

              p {

              }
            }
          }
        }

        &__btn {
          button {

          }
        }
      }
    }
  }
}




