@media (max-width: 1200px) {
  #slider .slider--general{

  }
}
@media (max-width: 1024px) {

}
@media (max-width: 992px) {
  #slider .slider--general{
   width: 110%;
  }
}
@media (max-width: 768px) {

  #slider .slider--general {
    width: 110%;
    .slick-list{
     p{
       width: 285px
     }
      img{
        margin-left: 30%;
      }
    }
  }
}



@media (max-width: 580px) {

  #slider .slider--general {
    width: 110%;


    .slick-list{
      p{
        width: 85px
      }
      img{
        margin-left: 30%;
      }
    }
  }
  #slider .slider--general .slick-list p {
    width: 223px;
  }

}
@media (max-width: 580px) {

  #slider .slider--general {
    width: 110%;
    height: 900px;
    .slick-list{

      p{
        width: 225px
      }
      img{
        margin-left: 30%;
      }
    }
  }
  #slider .slider--general__block {
    width: 90% !important;
    height: 392px;
    background: #102146;
    border-radius: 10px;
    margin: 47px;
  }

}

//8
@media (max-width: 453px) {
  #slider .slider--general {
    width: 190%;
    .slick-list{
      p{
        width: 284px
      }
      img{
        margin-left: 30%;
      }
    }
  }
}
@media (max-width: 426px ) {

}
@media (max-width: 380px ) {
  #slider .slider--general {
    width: 240%;
    .slick-list{
      p{
        width: 284px
      }
      img{
        margin-left: 30%;
      }
    }
  }
}
@media (max-width: 371px ) {
  #slider .slider--general {
    width: 240%;
    .slick-list{
      p{
        width: 294px
      }
      img{
        margin-left: 30%;
      }
    }
  }

}
@media (max-width: 320px ) {
  #slider .slider--general {
    width: 180%;

    .slick-list {
      p {
        width: 295px;



          .slick-list {
            p {
              width: 194px

            }

            width: 180%;

            .slick-list {
              p {
                width: 195px

              }

              img {
                margin-left: 30%;
              }

              width: 180%;

              .slick-list {
                p {
                  width: 295px

                }

                .slick-list {
                  p {
                    width: 194px

                  }

                  width: 180%;

                  .slick-list {
                    p {
                      width: 195px

                    }

                    img {
                      margin-left: 30%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

