#slider {
  margin: 10px 0;

  .slider--general {
    h3 {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      padding: 100px 0;
      color: #FFFFFF;
    }
    &__block {
      width: 90% !important;
      height: 292px;
      background: #102146;
      border-radius: 10px;
      margin: 47px;
      img {
        width: 28%;
        height: 28%;
        margin-left: 180px;
        margin-top: -40px;
      }
    }
    h1 {
      font-weight: 600;
      font-size: 14px;
      line-height: 22px;
      color: #FFFFFF;
      text-align: center;
      padding: 20px 0;
    }

    p {
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      text-align: center;
      color: #FFFFFF;
      width: 384px;
      margin-left: 10%;
    }

    h2 {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      margin-left: 70%;
      color: #FFFFFF;
    }
  }
}