@media (max-width: 1200px) {
  .container {
    width: 90%;
  }

}

@media (max-width: 1140px) {
  #articles {
    .articles--general {
      &__blocks {
        justify-content: space-around;
      }
    }
  }
}

@media (max-width: 1024px) {
  #articles .articles--general .articles--general__blocks--block {
    margin: 47px 0 0 0;
    margin-left: 10%;
    width: 350px;
    height: 355px;
    background: #FFFFFF;
    border-radius: 19px 19px 19px 19px;
  }
  #articles .articles--general .articles--general__title {
    padding-top: 247px;
    margin-left: 95px;
  }
}

@media (max-width: 992px) {
  #articles .articles--general .articles--general__blocks--block {
    margin-left: 10%;
  }

}

@media (max-width: 768px) {
  #articles .articles--general .articles--general__title {
    margin-top: 80px;
    margin-left: 143px;
  }
}

@media (max-width: 579px) {
  #articles {
    .articles--general {
      &__title {
        padding-right: 49%;
      }

      &__blocks {
        margin-right: 48%;
        width: 60%;
      }

      &__btn {
        margin-right: 48%;
      }
    }
  }
}

@media (max-width: 452px) {
  #articles {
    .articles--general {
      &__title {
        padding-right: 61%;
        font-size: 34px;
      }

      &__blocks {
        margin-right: 60%;
      }

      &__btn {
        margin-right: 60%;
      }
    }
  }
  #articles .articles--general .articles--general__title {
    padding-top: 257px;
  }
  #articles .articles--general .articles--general__blocks--block {
    margin-left: 450%;
  }
  #articles .articles--general .articles--general__title {
    padding-top: 247px;
    margin-left: 287px;
  }
}

@media (max-width: 425px) {
  #articles {
    .articles--general {
      &__title {
        padding-right: 63%;
      }

      &__blocks {
        margin-right: 63%;
      }

      &__btn {
        margin-right: 63%;
      }
    }
  }
}

@media (max-width: 380px) {
  #articles {
    .articles--general {
      &__title {
        padding-right: 67%;
        font-size: 33px;
      }

      &__blocks {
        margin-right: 67%;
      }

      &__btn {
        margin-right: 67%;
      }
    }
  }
}

@media (max-width: 371px) {
  #articles {
    .articles--general {
      &__title {
        padding-right: 68%;
        font-size: 30px;
      }

      &__blocks {
        margin-right: 67.5%;
      }

      &__btn {
        margin-right: 67.5%;
      }
    }
  }
}

@media (max-width: 320px) {
  #articles .articles--general .articles--general__blocks {
    margin-left: 234px;
  }
}