@import "src/styles/Header/header";
@import "src/styles/Hero/hero";
@import "src/styles/Footer/footer";
@import "src/styles/Articles/articles";
@import "src/styles/Subscribe/subscribe";
@import "src/styles/Questions/questions";
@import "src/styles/Submit/submit";
@import "src/styles/School/school";
@import "src/styles/About/about";
@import "src/styles/Course/course";
@import "src/styles/Team/team";
@import "src/styles/Master/master";
@import "src/styles/Dollar/dollar";
@import "src/styles/Certificate/certificate";
@import "src/styles/Package/package";
@import "src/styles/Header/mediaHeader";
@import "src/styles/Footer/mediaFooter";
@import "src/styles/Checking/checking";
@import "src/styles/Profile/profile";
@import "src/styles/Course/mediaCourse";
@import "src/styles/Hero/mediaHero";
@import "src/styles/Articles/mediaArticl";
@import "src/styles/Subscribe/mediaSubscribe";
@import "src/styles/Questions/mediaQuestion";
@import "src/styles/Submit/mediaSumbit";
@import "src/styles/About/mediaAbout";
@import "src/styles/Certificate/mediaCertificate";
@import "src/styles/Sliders/mediaSliders";
@import "src/styles/Master/mediaMaster";
@import "src/styles/Dollar/mediaDollar";
@import "src/styles/Team/mediaTeam";
@import "src/styles/School/mediaSchool";
@import "src/styles/Control/control";
@import "src/styles/Youtube/youtube";
@import "src/styles/Information/information";





@import "Sliders/sliders";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container{
  width: 85%;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

body,html{
  background: #0A1128;
}




