@import "src/styles/Header/header";
@import "src/styles/Hero/hero";
@import "src/styles/Footer/footer";
@import "src/styles/Articles/articles";
@import "src/styles/Subscribe/subscribe";
@import "src/styles/Questions/questions";
@import "src/styles/Submit/submit";
@import "src/styles/School/school";
@import "src/styles/About/about";
@import "src/styles/Course/course";
@import "src/styles/Team/team";
@import "src/styles/Master/master";
@import "src/styles/Dollar/dollar";
@import "src/styles/Certificate/certificate";
@import "Sliders/sliders";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

body,html{
  scroll-behavior: smooth;
  background: #0A1128;
}
