#front{
  .front--general{
    &__so{
      &--no{

        h1{
          padding-bottom: 30px;
          font-weight: 700;
          font-size: 36px;
          line-height: 44px;
          color: #FFFFFF;
        }
        &__such{
          left: 9.31%;
          right: 44.1%;
          top: 38.67%;
          bottom: 60.27%;
          border: 1px solid #044076;
          border-radius: 10px;
        }


      }
    }
  }
}