@media (max-width: 1200px) {
  .container{
    width: 90%;
  }
}

@media (max-width: 1140px) {
  #questions {
    .questions--general {
      justify-content: space-around;

    }
  }
}

@media (max-width: 1024px) {
  #questions {
    .questions--general {
      justify-content: space-evenly;
    }
  }
  #questions .questions--general {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

@media (max-width: 992px) {

}
@media (max-width: 768px) {


}
@media (max-width: 580px) {
  #questions .questions--general {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 140px;
  }

}
@media (max-width: 452px) {

  #questions .questions--general {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 257px;
  }


}
@media (max-width: 425px ) {



}
@media (max-width: 380px ) {

}
@media (max-width: 371px ) {

}
@media (max-width: 320px ) {
  #questions .questions--general {
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 335px;
  }
}